/* Notification Styles */
.notification {
    position: fixed;
    left: 50%;
    top: 80px;
    transform: translateX(-50%);
    background-color: var(--color-primary);
    color: var(--color-white);
    padding: var(--spacing-medium);
    border-radius: var(--spacing-small);
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    z-index: 1000;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease, visibility 0.3s ease;
}

.notification.show {
    opacity: 1;
    visibility: visible;
}

.notification.hidden {
    opacity: 0;
    visibility: hidden;
}
